* {
    text-align: center;
    justify-content: center;
    font-family: 'Lemonada', cursive;
}
.Board {
    position: relative;
    margin: 0 auto;
    border-radius: 1%;
    border: 3px dotted black;
    /* background-color: #DA72AD; */
    background-image: linear-gradient(#333 1px, transparent 1px), linear-gradient(90deg, #333, transparent 1px);
    
 
}
.Cell {
    background: #FFFFFF;
    position: absolute;
}

.ctrl {
    padding: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: smaller;
}
a {
    padding: 5%;
    margin: 1%;
    text-decoration: none;
    font-weight: bold;
    color: black;
    text-shadow: 4px 1px #fab1e5;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    width: 800px;
    height: 600px;
    margin: 0 auto;
    margin-bottom: 2%;
    border-radius: 1%;
    border: 3px dotted black;
    background-color: #fab1e5;
    font-size: 0.75rem;
}

.main-header{
    text-shadow: 1px 1px #fab1e5;
    font-family: 'Press Start 2P', cursive;
}

.btn{
    border-radius: 2px;
    border: 1px dotted black;
    background: #fab1e5;
    color: white;
    margin: 0.2%;
}
input{
    width: 80px;
}
.ctrl-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.btn-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    white-space: wrap;
}