.Board {
    position: relative;
    margin: 0 auto;
    background-color: #DA72AD;
    background-image: linear-gradient(#333 1px, transparent 1px), linear-gradient(90deg, #333, transparent 1px);

}
.Cell {
    background: #FFFFFF;
    position: absolute;
}